<!DOCTYPE html>
<html>
<head>
    <title>Admin Only</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/admin.css">
</head>
<body>
    <div class="header">
		  <a href="index.html" class="logo shake"><img src="../images/onlinelogomaker-010319-1828-2336 .png" class="icon"></a>
		  <nav>
                <ul>
                    <li><a href="index.html" class="shake"><img src="../images/icon/home.svg" class="icon">HOME</a></li>
                    <li><a href="login.html"  class="header-right shake"><img src="../images/icon/logout.svg" class="icon">Log Out</a></li>
                    <li><a href="profile.html" class="header-right shake"><img src="../images/icon/user.svg" class="icon">Profile</a></li>
                    <li><a href="admin.html" class="header-right active shake"><img src="../images/icon/admin-with-cogwheels.svg" class="icon">admin</a></li>     
                </ul>
                
            </nav>
    </div>

    <section id="main">
        <div class="container">
        
        <article id="main-col">
            <a href="create.html"><div class="button create shake">
                Create Meetup
            </div></a>
            <ul id="Meetups">
              <li>
                <h2><a href="#">Website Development</a></h2>
                <div class="media">
                        <img src="../images/website-development-doylestown.resized.gif" alt="computer lab" class="resize">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adamet, consectetur adipiscing elit. </p>
                            <p>
                                <span class="txt1">
                                        tags:
                                    </span>
                                    <span class="txt2" href="#">
                                           web design
                                    </span>
                                 
                           </p>
                            <p>
                                <span class="txt1">
                                        Period:
                                    </span>
                                    <span class="txt2" href="#">
                                            3  weeks
                                    </span>
                                 
                           </p>
                            <p>
                                    <span class="txt1">
                                        Scheduled on:
                                        </span>
                                        <span class="txt2">1<sup>st</sup> Jan, 2019</span>
                                        
                            </p>
                            <p>
                                    <span class="txt1">
                                            Venue: 
                                        </span>
                                        <span class="txt2" href="#">
                                            Mombasa, Kenya.
                                        </span>
                            </p>
                            <p>
                                <span class="txt1">
                                    Attending: 
                                </span>
                                <span class="txt2" href="#">
                                    37
                                </span> 
                            </p>
                            <p><a href="#"><button class="button del">Delete</button></a></p>
                        </div>
                        
                        </div>
              </li>
              <li>
                    <h2><a href="#">machine lerning</a></h2>

                    <div class="media">
                    <img src="../images/lan-hall.resized.jpg" alt="computer lab" class="resize">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies at, vulputate id lorem. Nulla facilisi</p>
                        <p>
                            <span class="txt1">
                                    tags:
                                </span>
                                <span class="txt2" href="#">
                                       Rasperberry, machine Learning
                                </span>
                             
                       </p>
                        <p>
                            <span class="txt1">
                                    Period:
                                </span>
                                <span class="txt2" href="#">
                                        3  weeks
                                </span>
                             
                       </p>
                        <p>
                                <span class="txt1">
                                    Scheduled on:
                                    </span>
                                    <span class="txt2">22<sup>nd</sup> Dec, 2018</span>
                                    
                        </p>
                        <p>
                                <span class="txt1">
                                        Venue: 
                                    </span>
                                    <span class="txt2" href="#">
                                        Thika, Kenya
                                    </span>
                        </p>
                        <p>
                            <span class="txt1">
                                Attending: 
                            </span>
                            <span class="txt2" href="#">
                                34
                            </span> 
                        </p>
                            <p><a href="#"><button class="button del">Delete</button></a></p>
                    </div>
                    
                    </div>
              </li>
              <li>
                    <h2><a href="#">Ethical Hacking</a></h2>
                    <div class="media">
                        <img src="../images/images.jpeg" alt="computer lab" class="resize">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies at, vulputate id lorem. Nulla facilisi</p>
                            <p>
                                <span class="txt1">
                                        tags:
                                    </span>
                                    <span class="txt2" href="#">
                                           Cyber Security
                                    </span>
                                 
                           </p>
                            <p>
                                <span class="txt1">
                                        Period:
                                    </span>
                                    <span class="txt2" href="#">
                                            1  day
                                    </span>
                                 
                           </p>
                            <p>
                                    <span class="txt1">
                                        Scheduled on:
                                        </span>
                                        <span class="txt2">21<sup>st</sup> Jan, 2019</span>
                                        
                            </p>
                            <p>
                                    <span class="txt1">
                                            Venue: 
                                        </span>
                                        <span class="txt2" href="#">
                                            Nairobi, Kenya
                                        </span>
                            </p>
                            <p>
                                <span class="txt1">
                                    Attending: 
                                </span>
                                <span class="txt2" href="#">
                                    8
                                </span> 
                            </p>
                            <p><a href="#"><button class="button del">Delete</button></a></p>
                        </div>
                            
                    </div>
              </li>
            </ul>
          </article>
        </div>
      </section>

<footer>
    <p>Questioner, Copyright &copy; 2019</p>
</footer>
</body>
</html>