<!DOCTYPE html>
<html lang="en">
<head>
	<title>Questioner Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/homepage.css">

</head>
<body>
	<div class="header">
		  <a href="index.html" class="logo shake"><img src="../images/onlinelogomaker-010319-1828-2336 .png" class="icon"></a>
		  <nav>
                <ul>
                    <li><a href="index.html" class="shake active"><img src="../images/icon/home.svg" class="icon">HOME</a></li>
                    <li><a href="login.html"  class="header-right shake"><img src="../images/icon/logout.svg" class="icon">Log Out</a></li>
                    <li><a href="profile.html" class="header-right shake"><img src="../images/icon/user.svg" class="icon">Profile</a></li>
                    <li><a href="admin.html" class="header-right shake"><img src="../images/icon/admin-with-cogwheels.svg" class="icon">admin</a></li>     
                </ul>
                
            </nav>
    </div>

    <section id="main">
            <div class="container">
            
            <article id="main-col">
            <div class="page-title">
                <form id="ui_sb" class="sb_wrapper">
                        <p>
                            <span class="sb_down"></span>
                            <input class="sb_input" type="text" placeholder="search meetups"/>
                            <input class="sb_search" type="submit" value=""/>
                        </p>
                        <ul class="sb_dropdown">
                            <li class="sb_filter">Filter your search</li>
                            <li><input type="checkbox"/><label for="all"><strong>All meetups</strong></label></li>
                            <li><input type="checkbox"/><label for="Today">Today</label></li>
                            <li><input type="checkbox"/><label for="week">This Week</label></li>
                            <li><input type="checkbox"/><label for="Month">This Month</label></li>
                            <li><input type="checkbox"/><label for="Year">This Year</label></li>
                        </ul>
                    </form>

            </div>
                <ul id="Meetups">
                  <li>

                    <h2><a href="#">Website Development</a></h2S>
                    <div class="media">
                            <img src="../images/website-development-doylestown.resized.gif" alt="computer lab" class="resize">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies at, vulputate id lorem. Nulla facilisi</p>
                                    <p><a href="meetup.html"><button class="button btn">Join</button></a></p>
                            </div>
                            
                            </div>
                  </li>
                  <li>
                        <h2><a href="#">machine lerning</a></h2>

                        <div class="media">
                        <img src="../images/lan-hall.resized.jpg" alt="computer lab" class="resize">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies at, vulputate id lorem. Nulla facilisi</p>
                            
                                <p><a href="meetup.html"><button class="button btn">Join</button></a></p>
                        </div>
                        
                        </div>
                  </li>
                  <li>
                        <h2><a href="#">Ethical Hacking</a></h2>
                        <div class="media">
                                <img src="../images/images.jpeg" alt="computer lab" class="resize">
                                <div class="content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies at, vulputate id lorem. Nulla facilisi</p>
                                        <p><a href="meetup.html"><button class="button btn">Join</button></a></p>
                                </div>
                                
                                </div>
                  </li>
                </ul>
                <div class="pagination">
                        <a href="#">&laquo;</a>
                        <a href="#">1</a>
                        <a class="active" href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">&raquo;</a>
                    </div>
              </article>
              <aside id="sidebar">
                    <div class="side-bg">
                            <div class="media">
                                    <div class="content">
                                        <h2>BLOG</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies at, vulputate id lorem. Nulla facilisi</p>
                                    </div>
                                    
                                    </div>
                    </div>
                  </aside>
                </div>
            </div>
          </section>
          


    <footer>
            <p>Questioner, Copyright &copy; 2019</p>
    </footer>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="../js/sb.js"></script>   
</body>
</html>