<!DOCTYPE html>
<html lang="en">
<head>
	<title>Questioner Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/meetup.css">

</head>
<body>
	<div class="header">
		  <a href="index.html" class="logo shake"><img src="../images/onlinelogomaker-010319-1828-2336 .png" class="icon"></a>
		  <nav>
                <ul>
                    <li><a href="index.html" class="shake"><img src="../images/icon/home.svg" class="icon">HOME</a></li>
                    <li><a href="login.html"  class="header-right shake"><img src="../images/icon/logout.svg" class="icon">Log Out</a></li>
                    <li><a href="profile.html" class="header-right shake"><img src="../images/icon/user.svg" class="icon">Profile</a></li>
                    <li><a href="admin.html" class="header-right shake"><img src="../images/icon/admin-with-cogwheels.svg" class="icon">admin</a></li>     
                </ul>
                
            </nav>
    </div>

<section id="main" class="main-mu-container">
    <div class="detail">
        <h2 class="detail-title">Machine Learning</h2>
    
            <div class="media">
            <img src="../images/lan-hall.resized.jpg" alt="computer lab" class="resize">
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies at, vulputate id lorem. Nulla facilisi</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies at, vulputate id lorem. Nulla facilisi</p>
                <p>
                    <span class="txt1">
                            tags:
                        </span>
                        <span class="txt2" href="#">
                               Raspberry, Machine Learning
                        </span>
                     
               </p>
                <p>
                    <span class="txt1">
                            Period:
                        </span>
                        <span class="txt2" href="#">
                                3  weeks
                        </span>
                     
               </p>
                <p>
                        <span class="txt1">
                            Scheduled on:
                            </span>
                            <span class="txt2">1<sup>st</sup> Jan, 2019</span>
                            
                </p>
                <p>
                        <span class="txt1">
                                Venue: 
                            </span>
                            <span class="txt2" href="#">
                                Mombasa, Kenya.
                            </span>
                </p>
                <p><a href="question.html"><button class="button btn">Attend</button></a></p>
            </div>
        </div>        
            </div>
            <aside id="sidebar">
                    <div class="side-bg">
                            <div class="media">
                                    <div class="content">
                                        <h2>Details</h2>
                                        <p>
                                            <span class="txt1">
                                                <img src="../images/icon/group.svg">  Attending:
                                            </span>
                                            <span class="txt2">
                                                37
                                            </span>
                                                    
                                        </p>
                                        <p>
                                                <span class="txt1">
                                                    <img src="../images/icon/discuss-issue.svg">  Questions:
                                                </span>
                                                <span class="txt2">
                                                    15
                                                </span>
                                                        
                                            </p>

                                    </di>
                            </div>
                    </div>
                  </aside>

</section>
<footer>
    <p>Questioner, Copyright &copy; 2019</p>
</footer>  
</body>
</html>