<!DOCTYPE html>
<html lang="en">
<head>
	<title>Questioner Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	<div class="header">
		  <a href="index.html" class="logo shake"><img src="../images/onlinelogomaker-010319-1828-2336 .png" class="icon"></a>
		  <nav>
                <ul>
                    <li><a href="index.html" class="shake"><img src="../images/icon/home.svg" class="icon">HOME</a></li>
                    <li><a href="login.html"  class="header-right shake"><img src="../images/icon/logout.svg" class="icon">Log Out</a></li>
                    <li><a href="profile.html" class="header-right active shake"><img src="../images/icon/user.svg" class="icon">Profile</a></li>
                    <li><a href="admin.html" class="header-right shake"><img src="../images/icon/admin-with-cogwheels.svg" class="icon">admin</a></li>     
                </ul>
                
            </nav>
    </div>

    <main>
     <section>
        <h2 class="bigtitle-title">Bon Bon</h2>
            <img class="section-img profile" src="../images/avatar2.png" />
            <p><i class="fa icon fa-phone" aria-hidden="true"></i>mobile: +2547834628</p>
            <p><i class="fa icon fa-envelope" aria-hidden="true"></i>email: bonbon@email.com</p>
      </section>   
     <section>
        <h2 class="bigtitle-title">Interests</h2>
        <p>
            <span class="tag">Photograpy</span>,
            <span class="tag">Web Design</span>,
            <span class="tag">Art</span>,
            <span class="tag">Writing</span>,
            <span class="tag">Sleeping</span>
        </p>
      </section>
      <section>
        <h2 class="bigtitle-title">Meetups</h2>
        <p>Joined <span>14</span> meetups</p>
        <ul id="meetup">
            <li>
                <a class="meetup-cell" href="#">
                    <img class="meetup-img" src="../images/download.jpeg">
                    <span class="meetup-overlay"></span>
                    <span class="meetup-text">Develop</span>
                </a>
            </li>
            <li>
                <a class="meetup-cell" href="#">
                    <img class="meetup-img" src="../images/website-development-doylestown.resized.gif">
                    <span class="meetup-text">Adipiscing</span>
                </a>
            </li>
            <li>
                <a class="meetup-cell" href="#">
                    <img class="meetup-img" src="../images/lan-hall.resized.jpg">
                    <span class="meetup-text">Vivamus</span>
                </a>
            </li>
            <li>
                <a class="meetup-cell" href="#">
                    <img class="meetup-img" src="../images/bg.jpg">
                    <span class="meetup-text">Curabitur</span>
                </a>
            </li>
            <li>
                <a class="meetup-cell" href="#">
                    <img class="meetup-img" src="../images/images.jpeg">
                    <span class="meetup-text">luctus</span>
                </a>
            </li>
            <li>
                <a class="meetup-cell" href="#">
                    <img class="meetup-img" src="../images/view_more_events.jpg">
                </a>
            </li>
        </ul>
      </section>

      

      <section class="bigbottom">
        <h2 class="bigtitle-title">Questions Feed</h2>
        <p>Popular Questions</p>
        <ul>
            <hr class="comments-line">
            <li><p class="txt4"><img src="../images/avatar2.png" class="Avatar" alt="Chris">Totally. Totally does.</p>
             <p class="txt5">posted by Chris, 1 day ago</p>
             <p>
                    <i class="fa icon fa-arrow-circle-o-up" aria-hidden="true">
                        78
                    </i>
                    <i class="fa icon fa-arrow-circle-o-down" aria-hidden="true">
                        0
                    </i>
                </p>
            </li>
            <hr class="comments-line">
            <li><p class="txt4"><img src="../images/avatar_beanie_girl-512.png" class="Avatar" alt="Vee">Totally. Totally does.</p>
                <p class="txt5">posted by Vee, 3 hrs ago</p>
                <p>
                    <i class="fa icon fa-arrow-circle-o-up" aria-hidden="true">
                        52
                    </i>
                    <i class="fa icon fa-arrow-circle-o-down" aria-hidden="true">
                        2
                    </i>
                </p>
            </li>
            <hr class="comments-line">
            <li><p class="txt4"><img src="../images/Avatar_1.resized.png" class="Avatar" alt="Cos">Totally. Totally does.</p>
                <p class="txt5">posted by Cos, 1 min ago</p>
                <p>
                        <i class="fa icon fa-arrow-circle-o-up" aria-hidden="true">
                            22
                        </i>
                        <i class="fa icon fa-arrow-circle-o-down" aria-hidden="true">
                            5
                        </i>
                    </p>
            </li>
            <hr class="comments-line">
            <li><p class="txt4"><img src="../images/avatar2.png" class="Avatar" alt="Chris">Totally. Totally does.</p>
             <p class="txt5">posted by Chris, 1 day ago</p>
             <p>
                    <i class="fa icon fa-arrow-circle-o-up" aria-hidden="true">
                        18
                    </i>
                    <i class="fa icon fa-arrow-circle-o-down" aria-hidden="true">
                        1
                    </i>
                </p>
            </li>
            <hr class="comments-line">
            <li><p class="txt4"><img src="../images/avatar_beanie_girl-512.png" class="Avatar" alt="Vee">Totally. Totally does.</p>
                <p class="txt5">posted by Vee, 3 hrs ago</p>
                <p>
                    <i class="fa icon fa-arrow-circle-o-up" aria-hidden="true">
                        52
                    </i>
                    <i class="fa icon fa-arrow-circle-o-down" aria-hidden="true">
                        2
                    </i>
                </p>
            </li>
            </ul>
      </section>

      <section class="bigtitle">
        <h2 class="bigtitle-title">BIO</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            vulputate id lorem. Nulla facilisi 
            Vivamus mi augue, viverra sit amet ultricies at, vulputate id lorem. Nulla facilisi
        </p>
      </section>

      <section>
        <h2 class="bigtitle-title">Activities</h2>
            <p><i class="fa fa-question-circle-o" aria-hidden="true"></i>Posted: 5 Questions</p>
            <p><i class="fa fa-comments" aria-hidden="true"></i>Commented: 12 Questions</p>
            <p><i class="fa fa-users" aria-hidden="true"></i>Joined: 14 meet ups</p>
      </section>

    </main>
    
<footer>
    <p>Questioner, Copyright &copy; 2019</p>
</footer>
</body>
</html>