<!DOCTYPE html>
<html lang="en">
<head>
	<title>Questioner Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/homepage.css">
    <link rel="stylesheet" type="text/css" href="../css/questions.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../js/vote.js"></script>
</head>
<body>
	<div class="header">
		  <a href="index.html" class="logo shake"><img src="../images/onlinelogomaker-010319-1828-2336 .png" class="icon"></a>
		  <nav>
                <ul>
                    <li><a href="index.html" class="shake"><img src="../images/icon/home.svg" class="icon">HOME</a></li>
                    <li><a href="login.html"  class="header-right shake"><img src="../images/icon/logout.svg" class="icon">Log Out</a></li>
                    <li><a href="profile.html" class="header-right shake"><img src="../images/icon/user.svg" class="icon">Profile</a></li>
                    <li><a href="admin.html" class="header-right shake"><img src="../images/icon/admin-with-cogwheels.svg" class="icon">admin</a></li>     
                </ul>
                
            </nav>
    </div>

<h2>Machine Learning Workshops</h2>

<details>
  <summary><img src="../images/avatar2.png" class="Avatar">
  	  	<p></span>Chris Fox. <span class="txt1">Posted 2 days ago</span></p>
  		What is machine learning?</summary>
          <div class="rating">
            <i class="button rating-up fa fa-thumbs-o-up" aria-hidden="true"></i>
            <i class="button rating-down fa fa-thumbs-o-down" aria-hidden="true"></i>
            <span class="counter">30</span>
        </div>
          <ul>
            <hr class="comments-line">
            <li><h5>Comments</h5></li>
            <hr class="comments-line">
            <li><p class="txt4"><img src="../images/avatar2.png" class="Avatar" alt="Chris">Totally. Totally does.</p>
             <p class="txt5">posted by Chris, 1 day ago</p>
            </li>
            <hr class="comments-line">
            <li><p class="txt4"><img src="../images/avatar_beanie_girl-512.png" class="Avatar" alt="Vee">Totally. Totally does.</p>
                <p class="txt5">posted by Vee, 3 hrs ago</p>
            </li>
            <hr class="comments-line">
            <li><p class="txt4"><img src="../images/Avatar_1.resized.png" class="Avatar" alt="Cos">Totally. Totally does.</p>
                <p class="txt5">posted by Cos, 1 min ago</p>
            </li>
            </ul>
            <hr>
            <textarea class="comment-box" placeholder="Comments here..."></textarea>
            <button class="btn-comment">POST</button>
</details>

<details>
    <summary><img src="../images/avatar_beanie_girl-512.png" class="Avatar">
        <p></span>Vee Vicky. <span class="txt1">Posted 5 minutes ago</span></p>
      where do I start from?</summary>
      <div class="rating">
		<i class="button rating-up fa fa-thumbs-o-up" aria-hidden="true"></i>
		<i class="button rating-down fa fa-thumbs-o-down" aria-hidden="true"></i>
		<span class="counter">23</span>
	</div>
    <ul>
            <hr class="comments-line">
            <li><h5>Comments</h5></li>
            <hr class="comments-line">
            <li><p class="txt4"><img src="../images/avatar2.png" class="Avatar" alt="Chris">Anywhere. Totally does.</p>
             <p class="txt5">posted by Chris, 1 day ago</p>
            </li>
            <hr class="comments-line">
            <li><p class="txt4"><img src="../images/avatar_beanie_girl-512.png" class="Avatar" alt="Vee">Somewhere. Totally does.</p>
                <p class="txt5">posted by Vee, 3 hrs ago</p>
            </li>
            <hr class="comments-line">
            <li><p class="txt4"><img src="../images/Avatar_1.resized.png" class="Avatar" alt="Cos">Totally everywhere. Totally does.</p>
                <p class="txt5">posted by Cos, 1 min ago</p>
            </li>
            </ul>
            <hr>
            <textarea class="comment-box" placeholder="Comments here..."></textarea>
            <button class="btn-comment">POST</button>
</details>

<details>
    <summary><img src="../images/Avatar_1.resized.png" class="Avatar">
        <p></span>Cos Bren. <span class="txt1">Posted 5 minutes ago</span></p>
        What OS can run on Raspberry PI 3??
      
    </summary>
    <div class="rating">
		<i class="button rating-up fa fa-thumbs-o-up" aria-hidden="true"></i>
		<i class="button rating-down fa fa-thumbs-o-down" aria-hidden="true"></i>
		<span class="counter">8</span>
	</div>
    <ul>
            <hr class="comments-line">
            <li><h5>Comments</h5></li>
            <hr class="comments-line">
            <li><p class="txt4"><img src="../images/avatar2.png" class="Avatar" alt="Chris">Totally. Totally does.</p>
             <p class="txt5">posted by Chris, 1 day ago</p>
            </li>
            <hr class="comments-line">
            <li><p class="txt4"><img src="../images/avatar_beanie_girl-512.png" class="Avatar" alt="Vee">Totally. Totally does.</p>
                <p class="txt5">posted by Vee, 3 hrs ago</p>
            </li>
            <hr class="comments-line">
            <li><p class="txt4"><img src="../images/Avatar_1.resized.png" class="Avatar" alt="Cos">Totally. Totally does.</p>
                <p class="txt5">posted by Cos, 1 min ago</p>
            </li>
            </ul>
            <hr>
            <textarea class="comment-box" placeholder="Comments here..."></textarea>
            <button class="btn-comment">POST</button>
</details>

<div class="container-quiz">
    <form>
        <h5>POST YOUR QUESTION HERE...</h5>
        <textarea placeholder="Type your question here..."></textarea>
        <p><button class="btn-submit">POST</button></p>
    </form>
</div>
<footer>
    <p>Questioner, Copyright &copy; 2019</p>
</footer>
   
</body>
</html>