<!DOCTYPE html>
<html lang="en">
<head>
	<title>Questioner Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/LoginSignup.css">

</head>
<body>
	<div class="header">
		  <a href="#" class="logo"><img src="../images/onlinelogomaker-010319-1828-2336 .png"></a>
		  <div class="header-right"><a href="signup.html">Log In</a></div>
	</div>
	

		<div class="wrap-login">
				<div class="login-pic">
					<img src="../images/ux-discussion.png" alt="IMG">
				</div>

			<form class="login-form">
					<span class="login-form-title">
						Member Registration
					</span>

					<div class="wrap-input">
						<input class="input shake" type="text" name="username" placeholder="username" autocomplete="off">
                    </div>
                    <div class="wrap-input">
						<input class="input shake" type="text" name="email" placeholder="email" autocomplete="off">
					</div>
					<div class="wrap-input">
						<input class="input shake" type="password" name="pass" placeholder="Password">
                    </div>
                    <div class="wrap-input">
						<input class="input shake" type="password" name="pass" placeholder="Confirm Password">
					</div>
					
					<div class="container-login-form-btn">
						<button class="login-form-btn shake">
							<a href="index.html">Sign Up</a>
						</button>
					</div>
						<p>
						<span class="txt1">
							Already a member?
						</span>
						<a class="txt2" href="login.html">
							Log In
						</a></p>
			</form>
		</div>
    </div>
    <div class="footer">
        <p>Questioner, Copyright &copy; 2019</p>
      </div>
	
	


</body>
</html>