@import "animations.css";

a {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #AE110B;
}


p { 
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul, li {
  margin: 0px;
  list-style-type: none;
}


input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}


button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  background-color: #24241C;
}
.header {
  overflow: hidden;
  background-color: #24241C;;
  padding: 10px 10px;
  height: auto;
  display: block;
  border-width: 100%;
  border-bottom: 5px solid #AE110B;
  border-bottom-style:inset;
  border-radius: 25px;
}

.header a {
  float: left;
  color: #AE110B;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 25px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}






.txt1 {

  font-size: 16px;
  line-height: 4;
  color: #999999;
}

.txt2 {
  font-size: 16px;
  line-height: 4;
  color: #fff;
}






.wrap-login {
  width: 70%;
  margin: 1% 15%;
  background: #735F46;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 107px 130px 33px 95px;
}

.login-pic {
  width: 316px;
}

.login-pic img {
  max-width: 100%;
  float: left;
}



.login-form {
  width: 290px;
}

.login-form-title {
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}


.wrap-input {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input {
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}



.container-login-form-btn {
  width: 100%;
  padding-top: 20px;
}

.login-form-btn {
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  background: #AE110B;
  align-items: center;
  padding: 0 25px;
}
.login-form-btn a{
    text-decoration: none;
}

.login-form-btn:hover {
  background: #333333;
}

.footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:#AE110B;  
   bottom:0;
   width:100%;
  }

  @media only screen and (max-width: 1000px) {
    .login-pic{
      display: none;
    }
    .wrap-login {
  width: 560px;
  padding: 57px 40px 23px 35px;
}
  }







